<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test" thread-count="5">
		<classes>
			<class name="regclient.androidTestCases.logintest">
				<methods>
					<include name="ALoginTest" />
					<include name="OnBoardTest" />
					<include name="updateOperatorBiometrics" />
				</methods>
			</class>
			<class name="regclient.androidTestCases.NewRegistrationAdult">
				<methods>
					<include name="newRegistrationAdult" />
				</methods>
			</class>
			<class name="regclient.androidTestCases.NewRegistrationAdultException">
				<methods>
					<include name="newRegistrationAdultException" />
				</methods>
			</class>
			<class name="regclient.androidTestCases.UpdateMyUINUpdateDemographicDetails">
				<methods>
					<include name="updateMyUINUpdateDemographicDetails" />
				</methods>
			</class>
		</classes>
	</test>
	<listeners>
		<listener
			  class-name="regclient.utils.EmailableReport" />		
	</listeners>
</suite>
