client/*.iml
client/.gradle
client/local.properties
client/.idea/caches
client/.idea/libraries
client/.idea/modules.xml
client/.idea/workspace.xml
client/.idea/navEditor.xml
client/.idea/assetWizardSettings.xml
client/.DS_Store
client/build
client/captures
client/.externalNativeBuild
client/.cxx
client/local.properties
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/



