<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test" thread-count="5">
		<classes>
			<class name="androidTestCases.logintest">
				<methods>
					<include name="initallLaunch" />
					<include name="loginTest" />
					<include name="getOnBoard" />
				</methods>
			</class>
			<class name="androidTestCases.NewRegistrationAdult">
				<methods>
					<include name="newRegistrationAdult" />
					<include name="newRegistrationAdultUploadMultipleDoccuments" />
				</methods>
			</class>
			<class name="androidTestCases.NewRegistrationAdultException">
				<methods>
					<include name="newRegistrationAdultException" />
				</methods>
			</class>
			<class name="androidTestCases.NewRegistrationInfant">
				<methods>
					<include name="newRegistrationInfant" />
				</methods>
			</class>
			<class name="androidTestCases.NewRegistrationMinor">
				<methods>
					<include name="newRegistrationMinor" />
				</methods>
			</class>
			<class name="androidTestCases.NewRegistrationMinorException">
				<methods>
					<include name="newRegistrationMinorException" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
