name: Build Android Registration-Client

on:
  workflow_dispatch:
    inputs:
      serverBaseURL:
        description: "Enter the dynamic Server Base URL"
        required: true
        type: string
  push:
    branches:
      - release*
      - develop
      
  pull_request:
    branches:
      - develop
      - master
      - main
      - 1.*
      - release-*
      - sprint-*    

jobs:
  prechecks:
    name: Prechecks (DCO, CodeQL)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: DCO Check
        uses: docker://ghcr.io/dcoapp/dco:latest
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
  build-android-gradle:
    name: Build Android APK
    if: github.event_name == 'workflow_dispatch'
    needs: prechecks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Update serverBaseURL in android/build.gradle
        run: |
          echo "Updating serverBaseURL to: ${{ github.event.inputs.serverBaseURL }}"
          sed -i "s|serverBaseURL = .*|serverBaseURL = \"${{ github.event.inputs.serverBaseURL }}\"|g" android/build.gradle

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug --stacktrace

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
          retention-days: 5
          
  sonar:
    name: SonarCloud Scan
    needs: build-android-gradle
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: sonar-cache

      - name: Run SonarCloud Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          cd android
          chmod +x gradlew
          ./gradlew clean build testDebugUnitTestCoverage sonarqube --info
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup java 17
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.4'

      - name: Install Dart SDK
        run: flutter pub get

      - name: Flutter clean
        run: flutter clean

      - name: Creating Folders for generated source code
        run: |
          sh pigeon.sh

      # - name: Flutter test
      #   run: flutter test

      - name: Decode android/app/arc-local-keystore.jks
        run: echo "${{ secrets.JKS_PRIVATE_SECRET }}" | base64 --decode > android/app/arc-local-keystore.jks

      - name: Decode android/key.properties
        run: echo "${{ secrets.KEY_PROPERTIES }}" | base64 --decode > android/key.properties

      - name: Build Android APK
        run: flutter build apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk-output
          path: ./build/app/outputs/flutter-apk/app-release.apk
          retention-days: 10
