name: Android Registration-Client Build

on:
  workflow_dispatch:
    inputs:
      serverBaseURL:
        description: "Enter the Server Base URL (e.g. api-internal.qacore.mosip.net)"
        required: true
        default: "api-internal.qacore.mosip.net"

  push:
    branches:
      - '!release-branch'
      - release-*
      - master
      - 1.*
      - develop
      - sprint-*
      - main

jobs:

  dco:
    name: DCO Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: DCO Check
        uses: DCOapp/action@v1.3.5

  codeql:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: [ 'java', 'javascript' ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: ${{ matrix.language }}
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  build-android:
    name: Android Registration-Client Build
    needs: [dco, codeql]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install npm dependencies
        run: |
          npm install
      - name: Update serverBaseURL
        run: |
          find . -type f -name "*build.gradle" -print0 | xargs -0 sed -i "s/api-internal.sandbox.xyz.net/${{ github.event.inputs.serverBaseURL }}/g"
      - name: Build Android Registration-Client
        run: |
          cd client
          chmod +x gradlew
          ./gradlew assembleDebug
          ls app/build/outputs/apk/debug
          find -name '*.apk'
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk-output
          path: ./client/app/build/outputs/apk/debug/app-debug.apk
          retention-days: 5

  sonar-analysis:
    name: SonarQube Analysis
    needs: [build-android]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build and Sonar Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          cd client
          chmod +x gradlew
          ./gradlew build test testDebugUnitTestCoverage sonarqube --info --warning-mode all
